body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
  transition: all 0.5s ease;
  background: #6c757d !important;
}

.title {
  color: rgb(0, 65, 114) !important;
}

.app-container {
  min-height: 100vh;
}

.header-container {
  background: #fff;
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.content-container {
  flex-grow: 1;
  display: flex;
}


@media (max-width: 768px) {
  .nav-icon {
    display: none;
  }
  .SideBar {
    text-align: center;
  }
}

.SideBar {
  width: 200px;
  height: 100vh;
  background-color: black;
}

.navbar-collapse {
  height: 95vh;
  width: 100%;
}

.navbar-nav {
  display: block !important;
  height: 100%;
  width: 100%;
  line-height: 40px;
}

[class*="nav-button"] {
  font-size: 18px !important;
  color: #9999 !important;
  cursor: pointer;
  transition: background-color 0.3s ease !important;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

[class*="nav-button"]:hover,
[class*="nav-button"]:active,
[class*="nav-button"]:focus {
  color: #fff !important;
  background: rgba(255, 0, 0, 0.8) !important;
}

[class*="btn-primary"] {
  background: rgb(0, 65, 114) !important;
  border-color: rgb(0, 65, 114, 0.20) !important;
}

[class*="btn-primary"]:hover {
  background: rgb(0, 50, 89) !important;
}

[class*="btn-danger"] {
  background: rgb(200, 0, 0) !important;
  border-color: rgb(200, 0, 0, 0.20) !important;
}

[class*="btn-danger"]:hover {
  background: rgb(180, 0, 0) !important;
}